<h1>Welcome to Spinboard</h1>
<h2>All Links</h2>

<% if @links.empty? %>
  <p>You haven't submitted any links yet.</p>
<% else %>
  <button id="btn-show-all">Show All</button>
  <button id="btn-show-read">Show Read Only</button>
  <button id="btn-show-unread">Show Unread Only</button>

  <br>
  <br>

  <%= label_tag :q, :search, class: "control-label" %>
  <%= text_field_tag :q, "", class: "form-control" %>

  <table id="links" class="tablesorter-blue">
    <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Read</th>
      <th>Change Status</th>
      <th>Edit Link</th>
      <th>Recommend Link</th>
    </tr>
    </thead>
    <tbody>
    <% @links.each do |link| %>
      <tr id="<%= link.id %>" class="link link-read-<%= link.read %>">
        <td class="title read-<%= link.read %>"><%= link.title %></td>
        <td class="url read-<%= link.read %>"><a href="<%= link.url %>"><%= link.url %></td>
        <td class="read-status"><%= link.read %></td>
        <td class="change-status">
          <% if !link.read %> 

            <%= form_tag api_v1_link_path(link.id, {link: {title: link.title, url: link.url, read: true}}),
              { class: 'btn-mark-as-read', method: :put, remote: true } do %>
            <%= submit_tag 'Mark as Read' %>
            <% end %>

            <%= form_tag api_v1_link_path(link.id, {link: {title: link.title, url: link.url, read: false}}),
              { class: "btn-mark-as-unread hidden", method: :put, remote: true } do %>
              <%= submit_tag 'Mark as Unread' %>             
            <% end %>

          <% else %>

            <%= form_tag api_v1_link_path(link.id, {link: {title: link.title, url: link.url, read: false}}),
              { class: 'btn-mark-as-unread', method: :put, remote: true } do %>
            <%= submit_tag 'Mark as Unread' %>
            <% end %>

            <%= form_tag api_v1_link_path(link.id, {link: {title: link.title, url: link.url, read: true}}),
              { class: "btn-mark-as-read hidden", method: :put, remote: true } do %>
              <%= submit_tag 'Mark as Read' %>             
            <% end %>


          <% end %>
        </td>
        <td><%= link_to 'edit', edit_link_path(link.id) %></td>
        <td><%= link_to 'recommend link', new_recommendation_path({id: link.id}) %>

      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<h2>Submit New Link</h1>
<%= form_for(@link) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.submit %>
<% end %>

